<h3>View Doctor Details</h3>>
<div>
    <div>
        <label><b>Name:</b></label>{{doctor.name}}
    </div>
    <div>
        <label><b>Qualification:</b></label>{{doctor.qualification}}
    </div>
    <div>
        <label><b>Date of Birth:</b></label>{{doctor.dob}}
    </div>
    <div>
        <label><b>Specialization</b></label>{{doctor.specialization}}
    </div>
    <div>
        <label><b>Phone Number:</b></label>{{doctor.phoneno}}
    </div>
    <div>
        <label><b>Email</b></label>{{doctor.email}}
    </div>
</div>