.login{
    margin-left: 800px;
    width: 100px;
    background-color: rgb(63, 73, 158);
    color: rgb(255, 145, 0);
    font-weight: bold;
    font-size: 15px;
    text-align: center;border-radius: 10px;
    
    
}


