<h2>Doctors List</h2>

<table class="table">
    <thead>
        <tr>
        <th>Name</th>
        <th>Qualification</th>
        <th>Date of Birth</th>
        <th>Specializaton</th>
        <th>Phone No</th>
        <th>Email</th>
        <!--<th>Actions</th>-->
    </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let doctor of doctors">
            <td>{{doctor.name}}</td>
            <td>{{doctor.qualification}}</td>
            <td>{{doctor.dob}}</td>
            <td>{{doctor.specialization}}</td>
            <td>{{doctor.phoneno}}</td>
            <td>{{doctor.email}}</td>
            <!--<td>
                <button (click)="updateDoctor(doctor.id)" class="btn btn-info">Update</button>
                <button (click)="deleteDoctor(doctor.id)" class="btn btn-danger">Delete</button>
                <button (click)="doctorDetails(doctor.id)" class="btn btn-info">View</button>
            </td>-->
        </tr>
        
    </tbody>
</table>
